
*{ margin: 0; padding:0;}
body{-webkit-tap-highlight-color: rgba(0,0,0,0); font-family: "微软雅黑";background-image: url("../images/back.jpg");}
h1{ width: 100%; font-size: 1.5em; text-align: center; line-height: 3em; color:#47c9af; }
#audio{ width: 100%;}
#control{ width: 50px; height: 50px; line-height: 50px; text-align: center; border-radius: 100px; border:none; color:#fff; box-shadow: #888 0 0 8px;}
.color_gray{ background: #e4e4e4}
.hide{ display: none;}
.show{ display: block;}
.play{ background:  #f06060;}
.pause{ background:skyblue}
/*进度条样式*/
.progressBar{ width: 100%; height: 10px;margin: 30px auto 30px auto;cursor: pointer }
.progressBar div{ position: absolute;}
.progressBar .progressBac{ width: 100%; height: 10px;  left: 0; top:0; background: #f06060;}
.progressBar .speed{width: 100%; height: 10px;  background: #d5e8d2; }
.progressBar .drag{ width: 30px; height: 30px; left: 0; top:-10px;  background: skyblue; opacity: 0.8; border-radius: 50px; box-shadow: #fff 0 0 5px;}
/*时间样式*/

.shareImg{ position: absolute; left: 100000px;}
.content{margin-top: 50px;

}

.player{
    position: fixed;
    bottom: 0px;
    background-color: #00647d;
}

.border{
    border: 1px red solid;
}

a{
    text-decoration: none;
    cursor: pointer;
}
/*歌词样式*/
.lrc-div {
    /*background-color: rgba(0, 91, 39, 0.63);*/
}

.lrc-div li{
    list-style: none;
    text-align: center;
    margin: 5px;
    color: white;
    height: 30px;
}

.lrc-div li.active{
    color: #aed5f3;
    font-size: 20px;
}